@import "variables";

.pokemon-list-container{
        border: 2px solid $dark;
        border-radius: 5px;
        width: 100%;
    .list-header{
        display: flex;
        justify-content: center;
        h1{       
            font-family: 'Lato', sans-serif;     
        }
    }
    .controls{
        margin: 0 30px;
        .search{
            display: block;
            text-align: center;
            input{
                width: 100%;
                max-width: 400px;
            }
        }
        @media only screen and (min-width: $sm) {
            .search{
                display: flex;
                gap: 20px;
                text-align: start;
            }
        }
    }
    .not-result{
        height: 300px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .pokemon-table{ 
        width: 100%;
        border-collapse: collapse;
        margin: 20px 0 30px;
        
        thead{
            background-color: $dark;
            color: $light;
        }
    
        td, th {
            border-color: $dark;
            border-bottom: solid 0.5px;
            padding: 7px;
            text-align: center;
        }
        .only-md{
            display: none;
        }
        @media only screen and (min-width: $md) {
            .only-md{
                display: block;
            }
        }
        
        .row-active{
            tr{
                background-color: $sky-blue;
            }
        }

        tr{
            cursor: pointer;
            background-color: $light;
            &:hover{
                background-color: $sky-blue;
            }
        }   
    }
    .enumeration{
        margin: 10px;
        .pages{
            display: flex;
            flex-wrap: wrap;
            div{
                border: 1px solid $dark;
                border-radius: 5px;
                margin: 2px;
                width: 30px;
                text-align: center;
                a{
                    text-decoration: none;
                    padding: 3px 5px;
                    color: black;
                }
                &.active{
                    background-color: $blue-g;
                    a{
                        color: $light;
                    }
                }
                &:hover{
                   background-color: $sky-blue;
                   a{
                       color: black;
                   }
                }
            }
        }
    }
}

