@import "variables";

.pokemon-info{
    border: 2px solid #1A120B;
    border-radius: 5px;
    width: 100%;
    .pokemon-title{
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0;
        font-size: 20px;
        color: $light;
        background-color: $blue-g;

        h2{
            text-transform: uppercase;        
        }
    }
    .pokemon-data{
        .title-item{
            text-align: center;
            background-color: $dark;
            color: $light;
            width: 100%;
        }
        .content-columns{
            display: grid;
            grid-template-columns: 1fr;
            padding: 10px 20px;
            background-color: $sky-blue;
            text-align: start;
        }
        @media only screen and (min-width: $sm) {
            .content-columns{
                grid-template-columns: 1fr 1fr;
                text-align: center;
            }
        }
        .stats{
            table{
                width: 100%;
                border-collapse: collapse;
                td, th {
                    border: 1px solid #06283D;
                    padding: 7px;
                    text-align: center;
                }
            }
        }
    }
    .default-info{
        display: flex;
        text-align: center;
        align-items: center;
        height: 900px;
        width: 100%;
        background-color: $blue-g;
        p{
            font-size: 30px;
            padding: 20px;
            font-weight: bold;
            color: $light;
        }
    }
}