.container{
    margin-inline: 20px;
    margin-block: 20px;
    gap: 10px;
    
    .pokemon-data{
        display: grid;
        grid-template-columns: 66% 33%;
        gap: 1%;
        margin-bottom: 5px;
    }
}
