@import 'variables';

html, body { 
    height: 100%;
}
body { 
    margin: 0; 
    font-family:  $font-poppins;
}
p {
    margin: 0;
}

.loader{
    height: 900px;
    background-color: $blue-g;
    display: flex;
    align-self: center;
    justify-content: center;
}
